@font-face {
  font-family: 'BrandonGrotesque';
  src: url("./Brandon_bld.otf");
  font-weight: regular;
  font-style: normal; }

body {
  /*background: #000;*/
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
  margin: 0px;
  
}

.box {
  height: 100%;
  width: 100%;
}

.colorful {
  background: -webkit-radial-gradient(0% 100%, rgba(118, 72, 160, 0.701961) 0px, rgba(118, 72, 160, 0) 60%), -webkit-radial-gradient(90% 100%, rgb(82, 63, 140) 0px, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% 0%, rgba(84, 90, 182, 0.6) 0px, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(100% 0%, rgb(121, 74, 162) 0px, rgba(121, 74, 162, 0) 57%);
  background-color: #3b2f63; 
}
/*
.colorful {
  background:
    -webkit-linear-gradient(45deg, hsla(34, 97%, 41%, 1) 0%, hsla(34, 97%, 41%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(27, 100%, 42%, 1) 10%, hsla(27, 100%, 42%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(273, 96%, 44%, 1) 10%, hsla(273, 96%, 44%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(313, 99%, 49%, 1) 100%, hsla(313, 99%, 49%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(34, 97%, 41%, 1) 0%, hsla(34, 97%, 41%, 0) 70%),
    linear-gradient(135deg, hsla(27, 100%, 42%, 1) 10%, hsla(27, 100%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(273, 96%, 44%, 1) 10%, hsla(273, 96%, 44%, 0) 80%),
    linear-gradient(315deg, hsla(313, 99%, 49%, 1) 100%, hsla(313, 99%, 49%, 0) 70%);
}

.colorful {
  background:
    -webkit-linear-gradient(45deg, hsla(212, 99%, 42%, 1) 0%, hsla(212, 99%, 42%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(326, 94%, 42%, 1) 10%, hsla(326, 94%, 42%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(167, 94%, 43%, 1) 10%, hsla(167, 94%, 43%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(221, 98%, 46%, 1) 100%, hsla(221, 98%, 46%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(212, 99%, 42%, 1) 0%, hsla(212, 99%, 42%, 0) 70%),
    linear-gradient(135deg, hsla(326, 94%, 42%, 1) 10%, hsla(326, 94%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(167, 94%, 43%, 1) 10%, hsla(167, 94%, 43%, 0) 80%),
    linear-gradient(315deg, hsla(221, 98%, 46%, 1) 100%, hsla(221, 98%, 46%, 0) 70%);

}*/

/*.colorful {
  background:
    -webkit-linear-gradient(45deg, hsla(12, 98%, 45%, 1) 0%, hsla(12, 98%, 45%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(210, 97%, 42%, 1) 10%, hsla(210, 97%, 42%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(6, 94%, 44%, 1) 10%, hsla(6, 94%, 44%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(330, 91%, 46%, 1) 100%, hsla(330, 91%, 46%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(12, 98%, 45%, 1) 0%, hsla(12, 98%, 45%, 0) 70%),
    linear-gradient(135deg, hsla(210, 97%, 42%, 1) 10%, hsla(210, 97%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(6, 94%, 44%, 1) 10%, hsla(6, 94%, 44%, 0) 80%),
    linear-gradient(315deg, hsla(330, 91%, 46%, 1) 100%, hsla(330, 91%, 46%, 0) 70%);
  }*/
  

/*  .colorful {
    
    background:
      -webkit-linear-gradient(45deg, hsla(173, 100%, 47%, 1) 0%, hsla(173, 100%, 47%, 0) 70%),
      -webkit-linear-gradient(315deg, hsla(219, 98%, 49%, 1) 10%, hsla(219, 98%, 49%, 0) 80%),
      -webkit-linear-gradient(225deg, hsla(186, 99%, 48%, 1) 10%, hsla(186, 99%, 48%, 0) 80%),
      -webkit-linear-gradient(135deg, hsla(268, 92%, 48%, 1) 100%, hsla(268, 92%, 48%, 0) 70%);
    background:
      linear-gradient(45deg, hsla(173, 100%, 47%, 1) 0%, hsla(173, 100%, 47%, 0) 70%),
      linear-gradient(135deg, hsla(219, 98%, 49%, 1) 10%, hsla(219, 98%, 49%, 0) 80%),
      linear-gradient(225deg, hsla(186, 99%, 48%, 1) 10%, hsla(186, 99%, 48%, 0) 80%),
      linear-gradient(315deg, hsla(268, 92%, 48%, 1) 100%, hsla(268, 92%, 48%, 0) 70%);
    }*/

h1 {
  font-family: 'BrandonGrotesque';
  font-size: 50px;
  color: #fff;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -100px;
}